* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'JetBrains Mono', monospace;
}

body {
    background-color: #0f0f0f;
    color: #ffffff;
}

nav {
    position: fixed;
    top: 0;
    width: 100%;
    padding: 15px;
    background: #0f0f0f;
    display: flex;
    justify-content: center;
    gap: 25px;
    border-bottom: 1px solid #222;
}

nav a {
    color: #aaa;
    text-decoration: none;
    font-size: 14px;
}

nav a:hover {
    color: #9d7cff;
}

.section {
    min-height: 100vh;
    padding: 120px 15%;
}

h1 span {
    color: #9d7cff;
}

h2 {
    color: #9d7cff;
    margin-bottom: 20px;
}

ul li {
    margin-bottom: 10px;
}
